* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background: url("./assets/tropical-dots.jpeg");
}
/* Header Section */
header {
  background-color: rgb(250, 210, 217);
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: contain;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
.work-grid-item h4 {
  color: black;
  background-color: rgb(250, 210, 217);
  opacity: 75%;
  flex: 1 30%;
  text-align: center;
}
.work-grid-item a {
  color: black;
  text-decoration: none;
}
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: black;
  display: inline;
}
header a {
  text-decoration: none;
  color: gray;
  text-align: center;
}
header nav {
  float: right;
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  transition: all 0.5s;
}
header nav ul li a:hover {
  background: gray;
  color: pink;
  border-radius: 5px;
  text-shadow: none;
  opacity: 0.5;
}
/* Header End */
/* Homepage Hero Style Start */
.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}
.hero-2 {
  background-size: cover;
  background-position: center;
  position: relative;
}
.dialog-box {
  background: peachpuff;
  box-sizing: border-box;
  padding: 16px 24px;
  margin: 32px auto;
  position: relative;
  border-radius: 40px;
  max-width: 80%;
  box-shadow: 0 1px 3px 0;
}
.hero-cta {
  width: 100%;
  text-align: center;
  margin: 0;
  color: gray;
  font-size: 18px;
  line-height: 1.2;
}
.hero-cta h2 {
  font-size: 55px;
  color: gray;
}
.hero h3 {
  font-size: 24px;
  margin: 0px;
}
.info p {
  margin: 0 auto;
  line-height: 1.7;
  color: gray;
  width: 80%;
  font-size: 20px;
  text-align: center;
}
.title h3 {
  font-size: 46px;
  flex: 1 30%;
}
.title-2 h3 {
  font-size: 46px;
  flex: 1 30%;
  padding-bottom: 40px;
  text-align: center;
}
.title-text p {
  color: var(--tertiary-color);
  font-size: 18px;
}
.title-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-color);
}
.title {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.title-2 {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
}
.step:last-child {
  border-bottom: none;
}
.about-me-box {
  width: 90%;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 16px auto;
  border-radius: 40px;
  padding: 16px 0px;
  padding-bottom: 16px;
  background: white;
  color: gray;
  overflow: hidden;
  box-shadow: 0 1px 3px 0;
}
.about-me-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.bio-img {
  flex: 1 12%;
  margin-right: 20px;
}
.bio-img img {
  max-width: 100%;
  margin-left: 20px;
  border-radius: 40px;
  box-shadow: 0 1px 3px 0;
  opacity: 0.5;
  transition: all 0.5s;
}
.bio-img img:hover {
  opacity: 1.0;
}
.info-text {
  flex: 12;
}
/* WORK EXAMPLES STYLES BEGIN */
.work-box {
  width: 90%;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 16px auto;
  border-radius: 40px;
  padding-bottom: 16px;
  background: peachpuff;
  color: gray;
  overflow: hidden;
  box-shadow: 0 1px 3px 0;
}
.work-grid-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.work-grid-container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-flow: dense;
  /* create a 12 column grid */
  grid-template-columns: repeat(12, 1fr);
  /* set each row to be atleast 150px tall and a max of 1fr */
  grid-auto-rows: minmax(150px, 1fr);
}
.work-grid-item {
  grid-column: span 4;
  min-height: 150px;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
  border-radius: 40px;
  box-shadow: 0 1px 3px 0;
  opacity: 0.5;
}
.work-grid-item:hover {
  opacity: 1.0;
  
}
/* This just selects that first run buddy box becuase it happens to be the first child */
.work-grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
}
/* specific match */
.box5 {
  background-image: url("https://jaaybe.github.io/covidsearch/assets/Images/covie-logo.png");
  background-size: cover;
  background-position: 0 0%;
  grid-column: span 8;
}
.box1 {
  background-image: url(./assets/run-buddy.png);
  background-size: cover;
  background-position: 0 0%;
}
.box2 {
  background-image: url(./assets/dance2011.jpeg);
  background-size: cover;
  background-position: 5%;
}
.box3 {
  background-image: url(./assets/IMG_0048.jpeg);
  background-size: cover;
  background-position: 0; 
}
.box4 {
  background-image: url(./assets/IMG_5614.jpeg);
  background-size: cover;
  background-position: 0;
  grid-column: 9 / span 4;
}
/* REACH OUT STYLES START */
.contact-box {
  width: 50%;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 16px auto;
  border-radius: 40px;
  padding: 16px 0px;
  padding-bottom: 16px;
  background: white;
  color: gray;
  overflow: hidden;
  box-shadow: 0 1px 3px 0;
}
.contact-info-box {
  width: 50%;
  background: gray;
  box-sizing: border-box;
  padding: 0px 25px 10px 25px;
  margin: 32px auto;
  position: relative;
  border-radius: 40px;
  box-shadow: 0 1px 3px 0;
}
.reach-out-box {
  width: 50%;
  background: peachpuff;
  box-sizing: border-box;
  padding: 16px 24px;
  margin: 32px auto;
  position: relative;
  border-radius: 40px;
  /*max-width: 40%;*/
  box-shadow: 0 1px 3px 0;
}
.contact h2 {
  color: gray;
  text-align: center;
  font-size: 46px;
}
.contact-info div {
  color: white;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reach-out-info {
  justify-content: space-between;
  flex-wrap: wrap;
  color: gray;
  font-size: 32px;
  padding: 10px;
  text-align: center;
}
.contact-info > * {
  flex: 1;
  margin: 15px;
}
.contact-info h3 {
  color: peachpuff;
  text-align: center;
  font-size: 32px;
  padding: 10px;
}
.contact-info p {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  color: white;
}
a.link-color:hover, a.link-color:active {color: peachpuff;}

.contact-info a {
  color: pink;
}
.contact-form input, .contact-form textarea {
  border: 1px solid gray;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: gray;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  /*background-color: rgba(255, 255, 255, 0.75);*/
}
.contact-form input:focus, .contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
.contact-form button {
  width: 100%;
  border: none;
  background: pink;
  color: gray;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
  transition: all 0.5s;
}
.contact-form button:hover {
  color: pink;
  background: gray;
}
/* REACH OUT STYLES END */
/* FOOTER STYLE */
.footer-box {
  background: white;
  box-sizing: border-box;
  padding: 16px 24px;
  margin: 32px auto;
  position: relative;
  border-radius: 40px;
  max-width: 30%;
  box-shadow: 0 1px 3px 0;
}
footer {
  background: white;
  width: 100%;
  padding: 20px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  flex-wrap: wrap;
  position: relative;
  color: gray;
}
.footer h2 {
  color: gray;
  justify-content: center;
  font-size: 32px
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }
  header h1 {
      width: 100%;
      text-align: center;
  }
  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }
  header nav ul li a {
      font-size: 20px;
  }
  footer h2 {
      text-align: center;
      width: 100%;
  }
  .hero-cta, .hero-form {
      width: 100%;
  }
  .hero-cta {
      text-align: center;
  }
  .contact-info {
      flex: 1 100%;
  }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .contact-info {
    text-align: center;
    justify-content: space-around;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  .contact-info h3 {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
  .contact-info p {
    width: 100%;
    text-align: center;
  }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .dialog-box {
    width: 90%;
  }
  .bio-img img {
    width: none;
  }
  .contact-box {
    width: 90%;
  }
  .contact-info-box {
    width: 60%;
  }
  .reach-out-box {
    width: 80%;
  }
  .hero-form button {
    width: 100%;
  }
  .title h3 {
    text-align: center;
  }
  .info p {
    width: 100%;
  }
  .contact-info {
    text-align: center;
    justify-content: space-around;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  .contact-info h3 {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
  .contact-info p {
    width: 100%;
    text-align: center;
  }
  .contact-form {
    order: 3;
  }
  .reach-out-info {
    text-align: center;
    font-size: 25px;
  }
  .footer {
    text-align: center;
  }
}